:root {
    --color-red: #88080D;
    --color-blue: #859cba;
    --color-white: #fff;
    /* 769bcc */
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

.font-lobster {
    font-family: "Lobster", cursive;
}

/* HEADER AND NAV */
header {
    position: fixed;
    z-index: 2;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    margin-top: 20px;
}

.nav-logo {
    position: absolute;
    left: 20px;
}

.nav-buttons {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0;
}

.nav-buttons li {
    width: 100px;
    text-align: center;
    background-color: var(--color-red);
    border-radius: 20px;
    padding: 10px;
    font-size: 1.4rem;
    box-shadow: 0 6px 15px rgb(0, 0, 0);
}

.nav-buttons li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.nav-buttons li:hover {
    transform: scale(1.25);
}

#nav-img {
    width: 160px;
}

/* HERO */
section.hero {
    position: relative;
    height: 100vh;
    padding-top: 150px;
}

.flex-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.main-logo img {
    width: 800px;
    max-width: 800px;
}

.main-info {
    background-color: var(--color-blue);
    border-radius: 15px;
    box-shadow: 0 6px 15px rgb(0, 0, 0);
    text-align: center;
    line-height: 2;
    padding: 20px;
    max-width: 500px;
    margin: 0px 100px 0px 50px;
}

.main-info p {
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.6rem;
}

.about-bottom {
    position: absolute;
    border-radius: 30px;
    display: block;
    background-color: #000000;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px 30px;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
}

/* .hours-container {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }
  
  .hours-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .day {
    text-align: left;
    font-weight: bold;
  }
  
  .time {
    text-align: right;
    color: #666;
  } */