:root {
    --color-red: #88080D;
    --color-blue: #93A4BA;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.font-lobster {
    font-family: "Lobster", cursive;
}

/* HEADER AND NAV */
header {
    position: fixed;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100vw;
    margin-top: 20px;
}

.nav-logo {
    position: absolute;
    left: 20px;
}

.nav-buttons {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 0;
}

.nav-buttons li {
    width: 100px;
    text-align: center;
    background-color: var(--color-red);
    border-radius: 20px;
    padding: 10px;
    font-size: 1.4rem;
    box-shadow: 0 6px 15px rgb(0, 0, 0);
}

.nav-buttons li a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

.nav-buttons li:hover {
    transform: scale(1.25);
}

#nav-img {
    width: 160px;
}

/* HERO */
section.hero {
    height: 100vh;
    padding-top: 150px;
}

.flex-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-logo img {
    max-width: 1000px;
}

/* .hours-container {
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
  }
  
  .hours-row {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
  }
  
  .day {
    text-align: left;
    font-weight: bold;
  }
  
  .time {
    text-align: right;
    color: #666;
  } */